/*input group*/
.input-group {
    border: 1px solid $input-border-color;
    background: #fff;
}

.input-group-text {
    border-radius: 0;
    background-color: #e1e1e1;
    font-weight: bold;
    justify-content: center;
    border: none;
}

/*error msg*/
.error-msg {
    font-size: 16px;
    color: #dc3545;
    text-align: left;
}

/*file*/
::-webkit-file-upload-button {
    display: none;
}

/*required*/
label.required:before {
    content: "*";
    color: #dc3545;
    margin-right: 5px;
}

label.required.after:before {
    content: "";
    margin-right: 0;
}

label.required.after:after {
    content: "*";
    color: #dc3545;
    margin-left: 1px;
}

.error-message {
    display: block;
    text-align: left;
    color: #dc3545;
}

/*checkbox*/
.form-check {
    display: flex !important;
    align-items: center;
}

/*checkbox, radio*/
.form-check-inline .form-check-input {
    width: 32px;
    height: 32px;
    margin-right: 5px;
    margin-bottom: 4px;
    &[type="checkbox"]:disabled {
        border-color: $checkbox-disabled-border-color;
        background-color: $checkbox-disabled-bg-color;
    }
    &[type="checkbox"]:disabled:checked {
        border-color: $checkbox-disabled-checked-border-color;
        background-color: $checkbox-disabled-checked-bg-color;
    }
    &[type="radio"]:checked {
        background-size: 32px;
        background-color: white;
    }
    &[type="radio"]:disabled {
        border-color: $radio-disabled-border-color;
        background-color: $radio-disabled-bg-color;
    }
    &[type="radio"]:disabled:checked {
        background-size: 20px;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='%23979797'/></svg>");
        border-color: $radio-disabled-checked-border-color;
        background-color: $radio-disabled-checked-bg-color;
    }
}

.cross-check {    
    width: 32px;
    height: 32px;
    background-color: #F46155;
    border: 1px solid #F46155;
    background-image: url("./../images/ic_white_x_checkbox.svg");
    &:hover {
        cursor: pointer;
    }
}